

body{


  margin: 0 auto;
  padding: 0;
}


.bigname{ 

  color: white;
  width: 90%;
  height: 50px;
  position: relative;
  top:100px;
  padding: 0 20px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
 

}

.lryics{ 
  color: #fff;
  width: 90%;
  height: 300px;
  position: relative;
  top:170px;
  padding: 20px;
  font-size: 20px;

  overflow: -webkit-marquee;
  -webkit-marquee: up infinite slide;
  -webkit-marquee-speed: 280;
}

pre{
    font-family:'Times New Roman', Times, serif;
    src: url("assets/AbrilFatface-Regular.ttf");
}

@font-face{
    font-family:normal ;
    src: url("assets/AbrilFatface-Regular.ttf");
}

*{
    margin:0px;
    padding:0px;
    background:#DC143C

}

.video{
position: relative;

background-color: black;



}


.audio{

    position:relative;
    left: 37.5%;
    top:17px;
}



h1{
color: aliceblue;
size: 45vh;
top:1100px;
width:600px;
text-align: center;
}
